/* src/components/HeroCard.css */

/* Estilo geral do card do herói */
.hero-card {
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.hero-thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.hero-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.favorite-icon {
  font-size: 1.5em;
  color: #d1d1d1;
  cursor: pointer;
}

.favorite-icon.filled {
  color: red;
}

.hero-card p {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  text-align: justify;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
